body {
    font-family: "Roboto", sans-serif;

    #wrapper {
        width: 400px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
        }

        .big {
            font-size: 50px;
        }
    }
}

.margin-b-40 {
    margin-bottom: 40px;
}
