body {
    // font-family: "Roboto", sans-serif;
    font-family: "PT Mono", monospace;
    // background-color: #292936;
    background-color: #222f3e;

    #wrapper {
        width: 320px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
            margin: 120px 0 70px;
            color: #ffffff;
        }

        .big {
            font-size: 60px;
            color: #eeeeee;
            cursor: pointer;
        }

        .field {
            color: #eeeeee;
            padding-left: 5px;
            padding-bottom: 10px;
        }

        .field-small {
            color: #eeeeee;
            padding-left: 5px;
            font-size: 12px;
            padding-bottom: 10px;
        }
    }
}

.margin-b {
    margin-bottom: 60px;
}

.text {
    outline: none;
    border: 5px solid #1c2733;
    font-family: "PT Mono", monospace;
    font-size: 20px;
    padding: 10px;
    width: 265px;
    background-color: #354961;
    color: #c5c5c5;
}
