body {
    // font-family: "Roboto", sans-serif;
    font-family: "PT Mono", monospace;
    // background-color: #292936;
    background-color: #222f3e;

    #wrapper {
        width: 320px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
            margin: 120px 0 70px;
            color: #ffffff;
        }

        .big {
            font-size: 60px;
            color: #eeeeee;
        }

        .field {
            color: #eeeeee;
            padding-left: 5px;
            padding-bottom: 10px;
        }
    }
}

#date-wrapper {
    margin-bottom: 60px;
}
